@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'kanit';
    src: url(fonts/Kanit-Regular.ttf);
}

:root{
    --cor1:#6d263e;
    --cor2:#914c64;
    --cor3:#b6728a;
    --cor4:#da99af;
    --cor5:#ffbfd5;

    --fonte-padrao: 'poppins';
    --fonte-titulo: 'kanit';
}
*{
    padding: 0px;
    margin: 0px;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--cor1);
    padding: 30px;
}
.left{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}
.texto{
    font-size: 1.5em;
}
.left > a{
    text-decoration: none;
    color:#000;
    font-family: 'poppins';
    margin: auto;
    font-size: 1.1em;
}
.navimage{
    width: 75px;
    height: 75px;
    border-radius: 100px;
}
.text-nav{
    font-family: 'poppins';
    text-decoration: none;
    color: black;
}
.navbar .right a{
    margin-left: 20px;
}
.itens{
    text-decoration: none;
    padding: 10px;
    color:#000;
    font-family: 'poppins';
    margin: auto;
    font-size: 1.2em;
    border-radius: 10px;
}
.itens:hover{
    color: #ffbfd5;
    background-color: #ffc0d583;
    transition-duration: 0.5s;
}
/* Navbar */